.pointsWrapper__main {
    margin: 0 auto;
}

.pointsWrapper__main--username {
    text-align: center;
    padding-top: var(--default_margin_top);
}

.pointsWrapper__main .pointsWrapper__main--items {
    display: flex;
    gap: 10px;
    margin-top: var(--default_margin_top);
    justify-content: space-around;
    font-size: var(--default_font_size);
}
.pointsWrapper__main .pointsWrapper__main--total {
    display: flex;
    justify-content: center;
    margin-top: var(--default_margin_top);
    font-size: var(--default_font_size);
    text-decoration: underline;
}

.pointsWrapper__main .pointsWrapper__main--items span,
.pointsWrapper__main--total span {
    font-weight: bold;
}

.pointsWrapper__main--spinner {
    display: flex;
    justify-content: center;
    height: 7.5rem;
    padding-top: 1.875rem;
}

@media screen and (max-width: 700px) {
    .pointsWrapper__main .pointsWrapper__main--items {
        display: grid;
        gap: 1.25rem;
    }
}
